:root {
    --rp-clr-primary: #35bd84;
    --rp-clr-primary-dark: #2ca371;
    --rp-clr-secondary: ;
    --rp-clr-warning: #bbb44f;
    --rp-clr-warning-dark: #97913b;
    --rp-clr-danger: #ff0000;
    --rp-clr-danger-dark: #e40404;
    --rp-clr-cool: #7CB9E8;
    --rp-clr-success: #35bd84;
    --rp-clr-success-dark: rgb(63, 173, 127);
}

body {
    background-color: #1e2f3f;
    width: 100vw;
    padding: 4rem 0 0 0;
}

hr {
    border-width: 0.1rem;
    border-color: #1f1b35;
    opacity: 1;
}

input[type='color'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], input[type='week'], input:not([type]), textarea, select {
    border-color: #2c3544;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    background-color: var(--rp-clr-primary);
    border-color: var(--rp-clr-primary);
}

.btn-cooldown {
    margin-bottom: 5rem;
    background-color: var(--rp-clr-cool);
    border-color: var(--rp-clr-cool);
}

.btn-danger {
    background-color: var(--rp-clr-danger);
    border-color: var(--rp-clr-danger-dark);
}

.btn-success {
    background-color: var(--rp-clr-success);
    border-color: var(--rp-clr-success-dark);
}

#btnStart, #btnStop {
    width: 100%;
    font-size: 1.5rem;
}


.live-dot {
    animation: fadeinout 2.25s ease-in-out infinite;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    border-radius: .725rem;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    /* padding: 1rem 1rem 0 1rem; */
    background-color: #3e4c58;
}

.brand-logo {
    display: flex;
    background-color: #fff;
    text-align: center;
    padding: 1.5rem;
    margin-right: 2rem;
}

.header h3 {
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
    margin-right: auto;
}

.header .quickActions {
    font-size: 2rem;
    margin-right: 3rem;
}

.header .quickActions div {
    display: inline;
    cursor: pointer;
}

.header .quickActions div:not(:last-child) {
    margin-right: 2rem;
}

#btnLock {
    text-align: center;
    width: 30px;
}

#btnRestart {
    color: var(--rp-clr-warning);
}

.unlocked {
    color: #4d9e54;
}

.locked {
    color: #9e4d4d;
}

.body {
    display: flex;
    background-color: #dddddd;
}

.label {
    position: absolute;
    bottom: 0;
    font-size: 5rem;
    font-weight: 600;
    opacity: .3;
}

/* .info {
    display: flex;
    justify-content: space-evenly;
}

.info > * + * {
    border-left: 1px #000 solid;
}

.info > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

.actions {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 1rem 1rem;
}

.profiles {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.pidControl.container {
    padding: 0 1rem;
}

.pidControl input {
    margin: 0;
}

.pidControl .row:nth-child(2) {
    margin-bottom: .5rem;
}

.pidControl .row .column {
    padding: 0 .2rem;
}

.pidControl .row:first-child .column {
    justify-content: center;
}

.pidControl .row .column {
    /* display: flex; */
    text-align: center;
}

.content {
    padding: 1rem;
    width: 100%;
}

.info .row .column {
    display: flex;
    justify-content: center;
}

.chart-wrapper {
    position: relative;
    height: 600px;
    overflow: hidden;
    border-radius: 1rem;
}

.bold {
    font-weight: 600;
}

.small {
    font-size: .875em;
}

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    font-size: .8em;
}

footer > * {
    margin-bottom: 0;
}

#chartSkeleton {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1.5s ease-in-out;
    transition-delay: 450ms;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    z-index: 1;
}

.skeleton.loaded {
    opacity: 0;
}

@keyframes skeleton-loading {
    0% {
        background-color: #dfdfdf; /* FROM Color 1 */
    }
    100% {
        background-color: #b5cadd; /* TO Color 2 */
    }
}
